<div class="container">
  <!-- NOTE: Error en esta vista (sintaxis) -->
  <h1>Login</h1>
  <% if(flash&&flash.err) {%>
    <ul class="collection">
      <% Object.keys(flash.err).forEach(function(error){ %>
        <li class="collection-item"><%- JSON.stringify(flash.err[error]) %></li>
      <% }) %>
    </ul>
  <% } %>
     <form class="col s12" method="post" action="/session/create">
       <div class="row">
         <div class="input-field col s6">
           <input name="nombre" type="text" class="validate">
           <label for="nombre">Matricula</label>
         </div>

           <div class="input-field col s6">
             <input name="psw" type="password" class="validate">
             <label for="carrera">Password</label>
           </div>
       </div>
       <div class="row">
         <div class="input-field col s16">
           <button class="btn waves-effect waves-light" type="submit" name="button">
             Login
             <i class="material-icons right">send</i>
           </button>
         </div>
       </div>
     </form>
</div>
