<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Wanosoft</title>

    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/materialize.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!--STYLES END-->
  </head>

<body> <!-- Inicia Boddy-->
  <nav class="white" role="navigation"> <!-- Inicia Nav-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo"><img src="/images/logo.png" width="64" height="64"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/alumno/all">Alumno</a></li>
          <li><a href="collapsible.html">Javascript</a></li>
          <li><a href="mobile.html">Mobile</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/">Home</a></li>
          <li><a href="/alumno/all">Alumno</a></li>
          <li><a href="collapsible.html">Javascript</a></li>
          <li><a href="mobile.html">Mobile</a></li>
        </ul>
      </div>
    </nav> <!-- Fin de nav -->


    <%- body %>  <!-- CUERPOS DINÁMICOS LINEA CINCUENTA Y OCHO-->


    <footer class="page-footer teal"> <!-- INICIA FOOTER-->
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Universidad Politécnica de Amozoc</h5>
            <p class="grey-text text-lighten-4">La Universidad Politécnica de Amozoc es una institución
              pública de educación superior comprometida con el desarrollo del municipio que la aloja,
              del Estado que la respalda y del país que la sustenta.
              Busca formar seres humanos íntegros, que mediante las competencias adquiridas
               sean partícipes de la sociedad del conocimiento.</p>

          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Settings</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Made by <a class="brown-text text-lighten-3" href="https://github.com/wanosoft">Wanosoft</a>
        </div>
      </div>
    </footer> <!-- Fin FOOTER-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-3.2.1.js"></script>
    <script src="/js/init.js"></script>
    <script src="/js/materialize.js"></script>
    <script src="/js/materialize.min.js"></script>
    <!--SCRIPTS END-->
  </body> <!-- FINAL Body-->
</html>
