<div class="container">
  <h1>Dar de alta un alumno</h1>
     <form class="col s12" method="post" action="/alumno/create">
       <div class="row">

         <div class="input-field col s6">
           <input name="idmatricula" type="number" class="validate">
           <label for="idmatricula">Matricula</label>
         </div>
         <div class="input-field col s6">
           <input name="nombre" type="text" class="validate">
           <label for="nombre">Nombre</label>
         </div>
         <div class="input-field col s6">
           <input name="ap" type="text" class="validate">
           <label for="ap">Apellido Paterno</label>
         </div>
       </div>
       <div class="row">
         <div class="input-field col s12">
           <input name="am" type="text" class="validate">
           <label for="am">Apellido Materno</label>
         </div>
       </div>
       <div class="row">
         <div class="input-field col s12">
           <input name="edad" type="number" class="validate">
           <label for="edad">Edad</label>
         </div>
       </div>
       <div class="row">
         <div class="input-field col s12">
           <input name="carrera" type="text" class="validate">
           <label for="carrera">Carrera</label>
         </div>
       </div>
       <div class="row">
         <div class="input-field col s12">
           <button type="submit" name="button">Enviar</button>
         </div>
       </div>
     </form>
</div>
