<div class="container">
  <h1>Dar de alta un alumno</h1>
     <form class="col s12">
       <div class="row">
         <div class="input-field col s6">
           <input placeholder="Placeholder" id="nombre" type="text" class="validate">
           <label for="nombre">Nombre</label>
         </div>
         <div class="input-field col s6">
           <input id="ap" type="text" class="validate">
           <label for="ap">Apellido Paterno</label>
         </div>
       </div>
       <div class="row">
         <div class="input-field col s12">
           <input id="am" type="text" class="validate">
           <label for="am">Apellido Materno</label>
         </div>
       </div>
       <div class="row">
         <div class="input-field col s12">
           <input id="edad" type="text" class="validate">
           <label for="edad">Edad</label>
         </div>
       </div>
       <div class="row">
         <div class="input-field col s12">
           <input id="carrera" type="text" class="validate">
           <label for="carrera">Carrera</label>
         </div>
       </div>
       <div class="row">
         <div class="input-field col s12">
           <button type="submit" name="button">Enviar</button>
         </div>
       </div>
     </form>
</div>
