<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Bienvenido al Control Escolar</h5>
        <a href="/galery" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Galeria</a>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">La UPAM</h5>

          <p class="light">La Universidad Politécnica de Amozoc es una Institución Pública
              que pertenece a la coordinación General de Universidades Tecnológicas Y Politécnicas.
               La cual busca responder a las necesidades sociales de formar profesionistas de manera integral</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Trabajo en equipo</h5>

          <p class="light">Este sistema permite manejar el control de usuarios de una manera colaborativa, lo que
          reduce considerablemente los costos en el archivo de esta información tan valiosa</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Facil de utilizar</h5>

          <p class="light">Gracias a la modularidad de este sistema puedes acceder a él desde el portal
          en esta página web o directamente desde la versión para android</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Universidad Pública de Vanguardia</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="background2.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Contact Us</h4>
        <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Estudios de calidad a tu alcance.</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="background3.jpg" alt="Unsplashed background img 3"></div>
</div>
